

<div>
  <div *ngIf="isPrivate; else elseStatus">
    <div *ngIf="notMember; else elseStatus">
      <div class="profileInfo col-8">
          <h1 [ngStyle]="{'color': myTree.colorScheme}">{{myTree.treeName}}</h1>
          <h3>Sorry, this group is invite only</h3>
          <button mdbBtn type="button" color="success" mdbWavesEffect (click)=sendJoinRequest() >Request
            to Join </button>
      </div>
    </div>
  </div>
  <ng-template #elseStatus>
  <div>
    <div class="row">
      <div class="profileInfo col-8">
        <h1 *ngIf="this.isPrivate; else elsePriv" class="treeTitle">{{myTree.treeName}} - Private</h1>
        <ng-template #elsePriv>
          <h1 class="treeTitle" [ngStyle]="{'color': myTree.colorScheme}">{{myTree.treeName}} - Public</h1>
        </ng-template>
      </div>
      <div class="profileInfo col">
        <div class="row" style="justify-content: right;">
          <button mdbBtn type="button" [ngStyle]="{'background-color': myTree.colorScheme}" mdbWavesEffect (click)=back()><i class="fa fa-arrow-left"> </i>
            Back
            to Your Trees </button>
          <button *ngIf="isAdmin" mdbBtn [ngStyle]="{'background-color': myTree.colorScheme}" >
            <a (click)=renderAdminDashboard()> Admin Dashboard <i class="fa fa-shield"> </i></a>
          </button>
          <div *ngIf="isMember; else elseMember"></div>
          <ng-template #elseMember>
            <button mdbBtn type="button" [ngStyle]="{'background-color': myTree.colorScheme}" mdbWavesEffect (click)=sendJoinRequest() >Request
              to Join </button>
          </ng-template>
         <button mdbBtn type="button" [ngStyle]="{'background-color': myTree.colorScheme}">
            <a href="#" routerLink="/report-group"
              [state]="{ data: {treeID: myTree.ID, treeName: myTree.treeName, reporter: username}}" class="my-4"> Report
              Group </a>
          </button>
          <button mdbBtn onclick="document.getElementById('bruh').style.display='block'" type="button" [ngStyle]="{'background-color': myTree.colorScheme}">Message the Admins</button>
          <button mdbBtn onclick="document.getElementById('editInv').style.display='block'" type="button" [ngStyle]="{'background-color': myTree.colorScheme}">Edit Your Involvement</button>
        </div>
      </div>

    </div>


    <div class="mainDiv">

      <div class="">
        <div class="grid-item" style="padding: 0;">


          

        <div class="grid-item">
          <nav class="nav py-4 row" [ngStyle]="{'background-color': myTree.colorScheme}">
            <div class="spacer">
              <button class="tab active" id="TreeTab" (click)="toggle('Tree')" (click)="show = !show">Tree</button>
            </div>
            <div class="spacer">
              <button class="tab " id="AnouncementsTab" (click)="toggle('Anouncements')" (click)="show = !show">Anouncements</button>
            </div>
            <div class="spacer">
              <button class="tab " id="AboutTab" (click)="toggle('About')" (click)="show = !show">About</button>
            </div>
            <div class="spacer">
              <button class="tab " id="PhotosTab" (click)="toggle('Photos')" (click)="show = !show">Photos</button>
            </div>
            <div class="spacer">
              <button class="tab " id="MessagesTab" (click)="toggle('Messages')" (click)="show = true"
              (click)="getMessages()">Messages</button>
            </div>


          </nav>
          <mdb-card id="TreeSection"  borderColor="">
            <mdb-card-body>
              <mdb-card-title>
                <h3 [ngStyle]="{'color': myTree.colorScheme}">2019</h3>
              </mdb-card-title>
              <div class="usericon" *ngFor="let member of myTree.members">
                <i class="fas fa-user-circle fa-5x  pr-3 ml-3" [ngStyle]="{'color': myTree.colorScheme}"></i>
                <!--<span><a onclick="document.getElementById('userinfo').style.display='block'">
                    {{member}}</a></span>-->
                <div id="userinfo" class="w3-modal">
                  <div class="w3-modal-content">
                    <div class="w3-container">
                      <!-- Card Container and Body -->
                      <mdb-card>
                        <mdb-card-body>
                          <span onclick="document.getElementById('userinfo').style.display='none'"
                            class="w3-button w3-display-topright">&times;</span>
                          <button mdbBtn href="#" routerLink="/profile" color="success" block="true" class="my-4">
                            View {{member}}'s' Profile!</button>
                          <button mdbBtn type="button" color="danger" class="report my-4">
                            <a href="#" routerLink="/report-user"
                              [state]="{ data: {treeID: myTree.ID, userToReport: member}}">
                              Report This User</a>
                          </button>
                        </mdb-card-body>
                      </mdb-card>
                    </div>
                  </div>
                </div>
                <span><a (click)="userProfile(member)">
                    {{member}}</a></span>
                  <!-- <div id="userinfo" class="w3-modal">
                      <div class="w3-modal-content">
                        <div class="w3-container">
                          <mdb-card>
                            <mdb-card-body>
                                <span onclick="document.getElementById('userinfo').style.display='none'"
                                class="w3-button w3-display-topright">&times;</span>
                                <button mdbBtn href="#" routerLink="/profile" color="success" block="true" class="my-4">
                                  View {{member}}'s' Profile!</button>
                                <button mdbBtn type="button" color="danger" class="report my-4">
                                    <a href="#" routerLink="/report-user" [state]="{ data: {treeID: myTree.ID, userToReport: member}}">
                                    Report This User</a>
                                </button>
                            </mdb-card-body>
                          </mdb-card>
                        </div>
                      </div>
                  </div> -->
              </div>
            </mdb-card-body>
          </mdb-card>

          <mdb-card id="AnouncementsSection" class="invisible" >
            <mdb-card-body>
              <mdb-card-title>

                <h3 [ngStyle]="{'color': myTree.colorScheme}">Anouncements</h3>
                <button mdbBtn onclick="document.getElementById('addAnn').style.display='block'" type="button" [ngStyle]="{'background-color': myTree.colorScheme}">Request An Announcement</button>
              </mdb-card-title>
              <div *ngFor="let ann of announcements" class="card notificationCard" name="notificationAcceptReject">
                <div *ngIf="ann.approved" class="row">
                  <div class="col-9">
                    <label style="float:left">{{ann.annoucement}}</label>
                  </div>
                </div>
              </div>
            </mdb-card-body>
          </mdb-card>

          <mdb-card id="AboutSection" class="invisible" >
              <mdb-card-body>
                <mdb-card-title>
                  <h3 [ngStyle]="{'color': myTree.colorScheme}">About</h3>
                  <h4>{{myTree.aboutBio}}</h4>
                </mdb-card-title>
  
              </mdb-card-body>
          </mdb-card>

          <mdb-card id="PhotosSection" class="invisible" >
              <mdb-card-body>
                <mdb-card-title>
                  <h3 [ngStyle]="{'color': myTree.colorScheme}">Photos</h3>
                </mdb-card-title>
                
                <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                  <button type="button" class="btn btn-info" (click)="fileInput.click()">Upload picture <i class="fa fa-camera"></i> </button>
                  <button type="button" class="btn btn-danger" onclick="document.getElementById('deleteconfirm').style.display='block'">Delete picture <i class="fa fa-trash"></i> </button>
                  
                  
                  <div id="deleteconfirm" class="w3-modal">
                    <div class="w3-modal-content">
                      <div class="w3-container">
                          <mdb-card-body>
                                <span onclick="document.getElementById('deleteconfirm').style.display='none'"
                                class="w3-button w3-display-topright">&times;</span>
                                <h3 class="ques">Are you sure you want to delete this photo?</h3>
                                <div class="ques" style=" align-self: center;">
                                  <button type="button" class="btn btn-success" (click)="deletePhoto()"  >
                                    Yes
                                  </button>
                                
                              </div>
                              
                          </mdb-card-body>
                      </div>
                    </div>
                  </div>
                  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


                <div style="display: flex; flex-wrap: wrap; width: 100%; ">
                  <div class="spacer" *ngFor="let i of treePhotoLibraryImages; let ind = index">
                    <img [src]="i.url" (click)="selectPhoto(i._id)" (click)="setRow(ind)" [ngClass]="{'highlight': selectedIndex === ind}"/>
                  </div>
                </div>

              </mdb-card-body>
          </mdb-card>

          <mdb-card id="MessagesSection"  class="invisible" >
              <mdb-card-body>
                <mdb-card-title>
                    <h3 [ngStyle]="{'color': myTree.colorScheme}">Messages</h3>
                </mdb-card-title>
                <div class="card notificationCard" name="notificationAcceptReject">
                    <div class="row">
                      

                      <div class="overflowTest" *ngIf="show">
                        <div *ngFor="let m of messages">
                          <b>{{m.user}}</b>:
                          {{m.message}}
                        </div>
                      </div>
                      <br>
            
                      <div *ngIf="show"><input #box placeholder="Add message" class="messagesInput"
                          (keyup.enter)="addMessage(box.value);box.value=''"> <a class="iconSize"
                          (click)="addMessage(box.value);box.value=''"><i class="fa fa-angle-double-right"></i></a>
                        </div>



                    </div>
                  </div>
              </mdb-card-body>
          </mdb-card>

          <div class="adjustLeftMargin">
            <h4>Members of {{myTree.treeName}}</h4>
            <button style="float: right;" mdbBtn type="button" [ngStyle]="{'background-color': myTree.colorScheme}" mdbWavesEffect
              onclick="document.getElementById('id02').style.display='block'">Add Member <i class="fa fa-user">
              </i></button>
            <div id="id02" class="w3-modal">
              <div class="w3-modal-content">
                <div class="w3-container">
                  <mdb-card-body>
                    <form (submit)="sendAddRequestUsername(g)" #g="ngForm" class="text-center border border-light p-5"
                      [formGroup]="addUserForm">

                      <h4 class="pageHeader">Add Member</h4>

                      <div class="form-group">
                        <label style="float:left">By Rooted Username:</label>
                        <input type="text" id="username" formControlName="username" class="form-control"
                          placeholder="Username" [(ngModel)]="username"
                          [ngClass]="{ 'is-invalid': submitted && form_add_user.username.errors }"/>
                        <div *ngIf="submitted && form_add_user.username.errors" class="invalid-feedback">
                          <div *ngIf="form_add_user.username.errors.required">
                            <p style="font-size:15px;">
                              Username is required
                            </p>
                          </div>
                        </div>
                        <div *ngIf="response === 'NoUser'" class="alert alert-danger" role="alert">
                          Username does not exist in our records.
                        </div>
                        <div *ngIf="response === 'Dup'" class="alert alert-danger" role="alert">
                          User is already in this tree.
                        </div>
                        <div *ngIf="response === 'fatalError'" class="alert alert-danger" role="alert">
                          A Fatal Error has occured. Please try again at another time.
                        </div>
                        <button color="success" block="true" type="submit" prevent-default  
                        style="align-self: start;" [ngStyle]="{'background-color': myTree.colorScheme}">Add User</button>
                      </div>
                      </form>


                      <form (submit)="sendAddRequestEmail(f)" #f="ngForm" class="text-center border border-light p-5"
                      [formGroup]="addUserFormEmail">
                      <div class="form-group">
                        <label style="float:left">Non-Rooted Member</label>
                        <input type="text" placeholder="Name" class="form-control" formControlName="name"/>
                        <br>
                        <label>Invite User to Join Rooted?</label><mdb-checkbox [checked]="false" [default]="false" formControlName="sendEmail"></mdb-checkbox><br> 
                        <input type="text" placeholder="Email" class="form-control" formControlName="email"/>
                        
                        <br>
                        
                        <br>
                      </div>
                      <button color="success" block="true" type="submit" prevent-default  
                        style="align-self: start;" [ngStyle]="{'background-color': myTree.colorScheme}">Add
                        User</button>
                    </form>
                      <div class="form-group">
                        <div class="row" style="width:100%; ">
                          <!--Alignment issues, unsure of issue, temp fix of padding-left:3%-->
                          <div class="spacer" style="width:50%; display: flex; align-content: start; padding-left: 3%;">
                            
                          </div>
                          <div class="spacer" style="width:50%; display: flex; justify-content: end;">
                            <button (click)="cancel()" type="button"
                              onclick="document.getElementById('id02').style.display='none'" [ngStyle]="{'background-color': myTree.colorScheme}"
                              block="true">Cancel</button>
                          </div>
                        </div>
                      </div>


                 
                  </mdb-card-body>
                </div>
              </div>
            </div>
            <h5>Founder: {{myTree.founder}}</h5>
            <h5>Members: {{myTree.members}} </h5>
          </div>

          <html>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"
            media="screen" />


          </html>
          <div id="id03" class="w3-modal" style="display: none;">

            <div class="w3-container">
              <mdb-card-body>
                <div class="w3-modal-content w-3-card4">
                  <header class="w3-container ">
                    <span onclick="document.getElementById('id03').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                    <h2 style="align-content: center;">Unban User</h2>
                  </header>
                  <div class="w3-container col">

                    <div class="card notificationCard" name="notificationAcceptReject">
                      <div class="row">
                        <div class="col-9">
                          <label style="float:left">User:</label>
                        </div>
                        <div class="col-3">
                          <div class="row" style="width:100%;justify-content: end;">
                            <div class="spacer">
                              <button class="notificationBtn" type="button" color="success">Unban</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>

                    <button (click)="cancel()" type="button"
                      onclick="document.getElementById('id03').style.display='none'" mdbBtn color="success" block="true"
                      class="my-4">Close</button>
                    </div>
                  </div>
                </mdb-card-body>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
</div>

<div id="bruh" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <!-- Card Container and Body -->
        <mdb-card>
          <mdb-card-body>
            <span onclick="document.getElementById('bruh').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
              <form (submit)="sendAnonMessage(message)" class="text-center border border-light p-5" [formGroup]="messageForm">

                  <p class="h4 mb-4">Anonymously Message the Admins</p>
          
                  <!-- Message -->
                  <div class="form-group">
                    <textarea class="form-control rounded-0" id="message" [(ngModel)]="message" formControlName="message" rows="3" placeholder="Message"></textarea>
                  </div>
          
                  <!-- Send button -->
                  <button mdbBtn color="success" block="true" type="submit">Send</button>
                </form>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>

  <div id="addAnn" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <!-- Card Container and Body -->
        <mdb-card>
          <mdb-card-body>
            <span onclick="document.getElementById('addAnn').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
              <form (submit)="addAnnouncement(announcement)" class="text-center border border-light p-5" [formGroup]="announcementForm">

                <p class="h4 mb-4">Request an Announcement</p>
        
                <!-- Message -->
                <div class="form-group">
                  <textarea class="form-control rounded-0" id="announcement" [(ngModel)]="announcement" formControlName="announcement" rows="3" placeholder="Announcement"></textarea>
                </div>
        
                <!-- Send button -->
                <button mdbBtn color="success" block="true" type="submit">Send</button>
                </form>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>

  <div id="editInv" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <!-- Card Container and Body -->
        <mdb-card>
          <mdb-card-body>
            <span onclick="document.getElementById('editInv').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
              <form (submit)="editInvolvement(joinYear,exitYear)" class="text-center border border-light p-5" [formGroup]="involvementForm">

                <p class="h4 mb-4">Edit Your Involvement</p>
        
                <!-- year joined and left -->
                <div class="form-group">
                  <input type="text" id="joinYear" formControlName="joinYear" class="form-control"
                  placeholder="Year you joined the group" [(ngModel)]="joinYear">
                </div>
                <div class="form-group">
                  <input type="text" id="exitYear" formControlName="exitYear" class="form-control"
                  placeholder="Year you left the group (if applicable)" [(ngModel)]="exitYear">
                </div>
                <!-- Send button -->
                <button mdbBtn color="success" block="true" type="submit">Send</button>
                </form>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>