.cropImg {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 400px;
    border-color: rgb(27, 172, 59);
    margin-left:3%;
    border:solid;
}
.croppedImg {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.profileInfo{
    padding: 3%;
    padding-top: 0;
    padding-bottom:0;
    text-align: left;
    margin-bottom: 0;
    align-content: center;
    font-weight: bold;
    color: rgb(59, 59, 59);
}
.line{
    border-right: 3px solid rgb(27, 172, 59);
}
.profileInfoRow{
   padding-top: 3%;
}
.imageUpload{
    border-radius:10px;
    padding-top:1%;
    padding-bottom:1%;
    background-color: rgb(27, 172, 59);
    color:white;
}
button{
    border-radius:10px;
    padding-top:1%;
    padding-bottom:1%;
    background-color: rgb(27, 172, 59);
    color:white;
    border:none;
}   
h1{
    color:rgb(27, 172, 59);
    font-weight: bolder;
}
h3{
    color:rgb(27, 172, 59);
    font-weight: bolder;
}


.largeBold{
    font-size: larger;
    font-weight: bold;
}
p {
    margin-bottom: 0;
}
.marginTop{
    margin-top: 20px;
}

.hideOverflow{
    overflow: hidden;
}
grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  .grid-item {
    text-align: center;
    margin-left: 50px;
    overflow: hidden;
  }

  .header{
    font-size:50px;
    margin-top: 35px;
    color: rgb(0, 176, 255);
  
}
.notificationCard{
    padding: 2%;
    font-size: 12px;
}
.notificationBtn{
    font-size: 12px;
}
.spacer{
    padding-left: 1%;
}

#circles{
  transition-duration: 2s ease-in-out;
}

#circles:hover{
  transform: scale(1.05);
  cursor: pointer;
}