<div>
    <div class="row">
        <div class="profileInfo col-9">
              <div class="row">
                      <div class="cropImg">
                          <div class="croppedImg">
                              <img src="img_girl.jpg" alt=""> 
                          </div>
                      </div>
                      <div class="profileInfo" >
                              <h1 style="line-height: 150px" id="usernameLabel"></h1>
                      </div>
              </div>
        </div>
        <div class="profileInfo col">
             <button mdbBtn type="button" color="success"
             mdbWavesEffect routerLink="/photo-library" >View Photo Library</button>
        </div>
    </div>
  
    <div class="row" style="padding-top:2%">
        <div class="profileInfo col" id="fileDropArea" ondragenter="fileDragEnter(event);" ondragover="fileDragOver(event);" ondragleave="fileDragLeave(event);" ondrop="fileDrop(event);">
              <label class="profileInfo imageUpload">
                      Upload Image
                      <input style="display: none" multiple type="file" id="fileDropInput" onchange="doFileStuff(this.files[this.files.length-1])" type="file" name="profilePicture" accept="image/*">
              </label> 
        </div>
    </div>
    <div class="row">
      <div class="col" id="fileNameList">
  
      </div>
    </div>
    <form  (submit)="submitEdit(f)" #f="ngForm" [formGroup]="editProfileForm">
    <div class="row profileInfoRow" style="padding-left:3%; padding-right: 3%;">
        <div class="profileInfo col line">
          <h3>Info</h3>
          <div class="row">
              <div class="col-9">
                  <label>Birth Year:</label>
                  <div class="form-group">
                      <input formControlName="birthYear" type="text"  class="form-control" placeholder="BirthYear">
                  </div>
              </div>
              <div class="col-1" style="align-content: center">
                  <label>Hide</label>
                  <br>
                  <input formControlName="birthYearHidden" type="checkbox" name="hideBirthYear"><br>    
              </div>
          </div>
          <div class="row">
                  <div class="col-9">
                      <label>Email</label>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Email"
                                  [ngClass]="{ 'is-invalid': submitted && form.email.errors }" formControlName="email" />
                              <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                                  <div *ngIf="form.email.errors.required">Email is required</div>
                                  <div *ngIf="form.email.errors.email">Must be a valid email</div>
                              </div>
                          </div>
                  </div>
                  <div class="col-1" style="align-content: center">
                      <label>Hide</label>
                      <br>
                      <input type="checkbox" formControlName="emailHidden"><br>    
                  </div>
          </div>
          <div class="row">
                  <div class="col-9">
                      <label>Phone Number</label>
                          <div class="form-group">
                              <input type="text" formControlName="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="Phone Number"/>
                          </div>
                  </div>
                  <div class="col-1" style="align-content: center">
                      <label>Hide</label>
                      <br>
                      <input type="checkbox" formControlName="phoneNumberHidden"><br>    
                  </div>
          </div>
        </div>
        <div class="profileInfo col line">
          <h3>Social Media</h3>
          <div class="row">
                  <div class="col-9">
                      <label>Facebook</label>
                          <div class="form-group">
                              <input type="text" formControlName="facebook" class="form-control" placeholder="Facebook"/>
                          </div>
                  </div>
                  <div class="col-1" style="align-content: center">
                      <label>Hide</label>
                      <br>
                      <input type="checkbox" formControlName="facebookHidden"><br>    
                  </div>
          </div>
          <div class="row">
                  <div class="col-9">
                      <label>Instagram</label>
                          <div class="form-group">
                              <input type="text" formControlName="instagram" class="form-control" placeholder="Instagram"/>
                          </div>
                  </div>
                  <div class="col-1" style="align-content: center">
                      <label>Hide</label>
                      <br>
                      <input type="checkbox" formControlName="instagramHidden"><br>    
                  </div>
          </div>
          <div class="row">
                  <div class="col-9">
                      <label>Twitter</label>
                          <div class="form-group">
                              <input type="text" formControlName="twitter" class="form-control" placeholder="Twitter"/>
                          </div>
                  </div>
                  <div class="col-1" style="align-content: center">
                      <label>Hide</label>
                      <br>
                      <input type="checkbox" formControlName="twitterHidden"><br>    
                  </div>
          </div>
        </div>
        <div class="profileInfo col" >
            <h3>Groups</h3>
            <div *ngFor="let t of myTrees">
                <h5 style="font-weight:bold" routerLink='/about' (click)="renderTree(t)">{{t.treeName}}</h5>
            </div>
        </div>
    </div>
    <div class="row profileInfo">
          <button type="submit" type="submit">Submit</button>
    </div>
    </form>
  
    
  
    
  
  
  
  </div>