.cropImg {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 400px;
    border-color: rgb(27, 172, 59);
    margin-left:3%;
    border:solid;
}

.croppedImg {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

.profileInfo{
    padding: 3%;
    padding-top: 2%;
    padding-bottom:0;
    text-align: center;
    margin-bottom: 0;
}
.profileInfo{
    text-align: center;
    margin-bottom: 0;
}


.largeBold{
    font-size: larger;
    font-weight: bold;
}
p {
    margin-bottom: 0;
}