<!-- Main App Contianer -->

<div class="main-container">
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark tableColor">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a href="#">
                <h4 class="dayDreamTitle"><i class="fa fa-leaf"> </i>Rooted</h4>
            </a></mdb-navbar-brand>
        <!-- Collapsible content -->
        <links>
            <ul class="navbar-nav">
                    <div class="searchSec flex-center">
                            <div class="inner-form" >
                              <div class="input-field" >
                                <div class="form-control round" style="overflow:auto; width:fixed;">
                                  <input autocomplete= "off" class="form-control flex-center" id="searchinput" type="text" style="border: 0px; background: transparent; min-width:800; outline: none; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow: none; cursor: default; " placeholder="Type to input search..."/>
                                      <div id="contain" ></div>
                                </div>
                              </div>
                            </div>
                    </div>
                    <div class="col-xs-1">
                         <button class="btn btn-sm" type="submit" style="border:none"><i class="fa fa-search"></i></button>
                    </div>
            </ul>
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item active">
                    <a class="nav-link waves-light" routerLink='/home' mdbWavesEffect>Home<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" routerLink='/about' mdbWavesEffect>About</a>
                </li>

                <!-- Dropdown -->
                <!-- <li *ngIf="userAuthed == true" class="nav-item dropdown" dropdown> -->
                <li *ngIf="userAuthed" class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="none "
                        class="nav-link dropdown-toggle waves-light tableColor" mdbWavesEffect>
                        {{username}}<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/profile">Go to Profile</a>

                        <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/other-profile">Go to Other Profile</a>

                        <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/change-email">Change
                            Email</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#"
                            routerLink="/change-password">Change
                            Password</a>
                        <!-- <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a> -->
                        <div class="divider dropdown-divider"></div>
                        <a (click)="logout()" routerlinkactive="active" class="dropdown-item waves-light" mdbWavesEffect
                            href="#">Logout</a>
                    </div>
                </li>

            </ul>
            <!-- Links -->
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

    <!-- Router Content -->
    <div class="p-2 no">
        <!-- <div class="d-flex "> -->
            <div class="p-2 xd">
                <router-outlet></router-outlet>
            </div>
        <!-- </div> -->
    </div>
    <!-- Router Content -->

    <!-- Footer -->
    <footer class="page-footer font-small">
        <div class="footer text-center py-3 tableColor">Built and Engineered by:
            <a href="https://github.com/kcsodetz/Rooted">Purdue University CS407 Group 2, Fall 2019</a>
        </div>
    </footer>
    <!-- Footer -->
</div>
<!-- Main App Contianer -->