<div class="p-2 profile animated fadeInUp d-flex justify-content-center">
  <mdb-card class="content">
    <mdb-card-body>
      <!-- Default form contact -->
      <form class="text-center border border-light p-5">

        <p class="h4 mb-4">Report a User</p>

        <!-- Name -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

        <select class="browser-default custom-select mb-4">
          <option value="" selected disabled>Reasoning</option>
          <option value="harassment">Harrassment</option>
          <option value="phishing">Phishing</option>
          <option value="offensive">Offensive Name</option>
          <option value="other">Other</option>
        </select>

        <!-- Message -->
        <div class="form-group">
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
        </div>

        <!-- Send button -->
        <button mdbBtn color="success" block="true" type="submit">Send</button>

      </form>
      <!-- Default form contact -->
    </mdb-card-body>
  </mdb-card>
</div>
