<div class="p-2 profile animated fadeInUp d-flex justify-content-center">
  <mdb-card class="content">
    <mdb-card-body>
      <!-- Default form contact -->
      <form class="text-center border border-light p-5">

        <p class="h4 mb-4">Report a User</p>

        <!-- Name -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

        <!-- Email -->
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

        <!-- Subject -->
        <label>Subject</label>
        <select class="browser-default custom-select mb-4">
          <option value="" disabled>Reasoning</option>
          <option value="1" selected>Harrassment</option>
          <option value="2">Phishing</option>
        </select>

        <!-- Message -->
        <div class="form-group">
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
        </div>

        <!-- Copy -->
        <div class="row">
          <div class="col-md-6 mx-auto d-flex justify-content-center">
            <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox>
          </div>
        </div>


        <!-- Send button -->
        <button mdbBtn color="info" block="true" type="submit">Send</button>

      </form>
      <!-- Default form contact -->
    </mdb-card-body>
  </mdb-card>
</div>
